body {
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  color: #fff;
  border: none;
}

div {
    width: 100%;
    height: 600px;
}

div div {
    width: 1%;
    height: 2%;
    outline: 1px solid #fff;
    float: left;
    background: black;
}

.white {
  background: #fff;
}

.red {
  background: #FF69B4;
}

.green {
  background: #f9948c;
}

.blue {
  background: #8e0554;
}

.yellow {
  background: #FF0080;
}

.pallette-white {
  background: white;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.pallette-black {
  background: black;
  color: white;
  height: 2%;
  width: 1%;
  padding: 10px;
}

.pallette-red {
  background: #FF69B4;
  height: 2%;
  width: 1%;
  padding: 10px
}

.pallette-green {
  background: #f9948c;
  height: 2%;
  width: 1%;
  padding: 10px;
}

.pallette-yellow {
  background: #FF0080;
  height: 2%;
  width: 1%;
  padding: 10px;
}

.pallette-blue {
  background: #8e0554;
  height: 2%;
  width: 1%;
  padding: 10px;
}